page-home {
    .container{
        height: calc(100vh - 56px);
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    img{
        margin: auto;
    }
}
